---
import type { AstroPostPage } from '@/types';
import { FontStyleSheets } from '@features/web-fonts';
import { DefaultLayout } from '@features/ui/layouts';
import { Title } from '@features/ui/title';
import { BigCard } from '@features/cards';

const pages = await Astro.glob<AstroPostPage>('./**/*.{md,mdx}');
const [latestPage, ...restPages] = pages.sort(
  (a, b) =>
    new Date(b.frontmatter.updatedAt).getTime() -
    new Date(a.frontmatter.updatedAt).getTime()
);
---

<html>
  <head>
    <title>Quick Notes</title>
    <FontStyleSheets />
  </head>

  <body>
    <DefaultLayout>
      <Title>Quick Notes</Title>
      <hr />
      <section>
        <BigCard
          title={latestPage.frontmatter.title}
          description={latestPage.frontmatter.description ?? ''}
          url={latestPage.url}
          updatedAt={latestPage.frontmatter.updatedAt}
          tags={latestPage.frontmatter.tags}
        />

        <!-- TODO: need difference b/w big-card - normal-card except description -->
        {
          restPages.map((page) => (
            <BigCard
              title={page.frontmatter.title}
              description={page.frontmatter.description ?? ''}
              url={page.url}
              updatedAt={page.frontmatter.updatedAt}
              tags={page.frontmatter.tags}
            />
          ))
        }
      </section>
    </DefaultLayout>
  </body>
</html>
